[submodule "utilfort"]
	path = utilfort
	url = git://github.com/iijimakazuyuki/utilfort.git
[submodule "spmat"]
	path = spmat
	url = git://github.com/iijimakazuyuki/spmat.git
[submodule "matmpi"]
	path = matmpi
	url = git://github.com/iijimakazuyuki/matmpi.git
[submodule "matpart"]
	path = matpart
	url = git://github.com/iijimakazuyuki/matpart.git
